#PINLOCK_BEGIN

    NET "RESET" LOC="P14";
    NET "MODE_0" LOC="P16";
    NET "MODE_1" LOC="P18";
    NET "LOAD" LOC="P19";
    NET "CLK" LOC="P43";
    NET "K1" LOC="P30";
    NET "K2" LOC="P31";
    NET "K3" LOC="P32";
    NET "K4" LOC="P33";
    NET "K5" LOC="P34";
    NET "ACK" LOC="P36";

#PINLOCK_END

